/* class to make image full width but with a max height of 200px without being distorted */
.single-splash {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.skillbar-container {
  width: 400px;
  height: 25px;
  background-color: rgba(131, 131, 131, 0.445);
  display: flex;
}

.skillbar {
  width: 25%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.541);
}

.skillbar.full {
  background-color: rgb(209, 46, 46);
}

.fullskillbar > p {
  text-align: left;
  color: white;
  font-size: 1.5em;
}
